<%- include("partials/header") -%>

<form class="" action="/login" method="post">
  <h3>Login :</h3>
  <p>email:</p>
  <input type="text" name="username" value=""> <br>
  <p>password:</p>
  <input type="password" name="password" value=""> <br>
    <input type="submit" value="Login">
</form>
<p>No account ? register here -></p><a href="/register" role="button">Register</a>



<%- include("partials/footer") -%>
