<%- include("partials/header") -%>

<html data-wf-domain="thomass-fantabulous-phone-project.webflow.io" data-wf-page="5f9aacb23f7e818f423a5af9" data-wf-site="5f9a850d1080465bc64e52d4" data-wf-status="1">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <title>Phone</title>
  <meta content="Phone" property="og:title" />
  <meta content="Phone" property="twitter:title" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="Webflow" name="generator" />
  <link href="styles" rel="./styles.css" type="text/css" />
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
  <link href="https://uploads-ssl.webflow.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://uploads-ssl.webflow.com/img/webclip.png" rel="apple-touch-icon" />
</head>





<body class="body">

  <div class="block-positioner" id="page1">
  <div  class="div-block">
    <img id="logo" src="applefixLogo.png" alt="">
    <a  class="navButton" id="buton1" href="#page1">Domov</a>
    <a  class="navButton" id="buton2" href="#page2">Naprave</a>
    <a  class="navButton" id="buton3" href="#page3">Kontakt</a>

  </div>
    </div>
    <div  class="mainHolder3">
      <p class="tittle">Applefix</p>
      <div class="text1">
        <p>Popravila Apple telefonov in tablic</p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMenjava ekranov in baterij</p>
      </div>
      <a class="co-1 gumb1 btn-one" href="#page2" onclick="izberiNapravo()">Izberi napravo</a>

    </div>
  <div  class="mainHolder" id="page2">
      <div class="centered-container ">
        <div class="div-block-3">
           <div class="dropdown">
       <button  class="dropbtn">Telefoni&nbsp&nbsp&nbsp<img id="menuIcon" src="menuIcon2.png" alt=""> </button>
       <div class="dropdown-content">
       </div>
     </div>
       <div class="dropdown2">
           <button  class="dropbtn_2">Tablice&nbsp&nbsp&nbsp<img id="menuIcon" src="menuIcon2.png" alt=""> </button>
           <div class="dropdown-content2">
         </div>
      </div>
         </div>
        </div>
      <div class="phoneCard">
        <div class="grid-item">

        </div>
        <div class="phoneData">
          <h1> iPhone 12 </h1>
          <p>Menjava stekla : 50 €</p><br>
          <p>Menjava baterije : 100 €</p>

  	      <button id='narociPopravilo' class="btn-two" type='button' name='Naroci' onclick='tester2()'>Naroči popravilo</button>
        </div>
      </div>
    </div>
    <!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->
<!-- The Modal -->
<div id="myModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>
  <div class="narociloInfo">
    <div class="grid-item2">

    </div>
    <div class="phoneData2">

    </div>
  </div>

  <form id="narociloForm"  onSubmit="if(!confirm('Potrdite naročilo:')){return false;}">
  <h1>Naročilo na popravilo</h1>
<input class="formRadio" type="radio" id="dostavaOsebno" name="dostava"  checked="checked">
<label class="formLabel" for="male">Napravo bom prinesel v poslovalnico</label><br>
<input class="formRadio" type="radio" id="dostavaPosta" name="dostava" >
<label class="formLabel" for="female">Napravo bom poslal po pošti</label><br>
<div>
  <label class="formLabel" for="fname">Ime:</label>
  <input class="formInput" type="text" id="fname" name="fname" required>
</div>
<div>
  <label class="formLabel" for="lname">Priimek:</label>
  <input class="formInput" type="text" id="lname" name="lname" required>
</div><br>
<div>
  <label class="formLabel" for="phoneNum">Telefonska številka:</label>
  <input class="formInput" type="text" id="phoneNum" name="phoneNum" required><br>
</div><div id="lastClass">
  <label class="formLabel" for="email">Elektronski naslov:</label>
  <input class="formInput" type="email" id="email" name="email" required><br>
  </div><br>
  <div class='kek'>
    <label class='formLabel' for='address'>Ulica in hišna številka</label>
    <input class='formInput' type='text' id='address' name='address'><br>
  </div>
  <div class='kek'>
    <label class='formLabel' for='city'>Kraj</label>
    <input class='formInput' type='text' id='city' name='city' placeholder='Ljubljana'><br>
  </div> <br>
  <div class='kek'>
    <label class='formLabel' for='zip'>Poštna številka</label>
    <input class='formInput' type='number' id='zip' name='zip' placeholder='1000'><br>
  </div>

<input class="submitForm" type="submit" value="Naroči">
</form>

</div>

<div id="page4" class="modal-content2">
  <span class="close2">&times;</span>

  <div class="narociloInfo">

    <div class="hvala">
<h1>Hvala za naročilo :)</h1>
    </div>
    <div class="podatkiZigata">
<h1>naslov za pošiljanje</h1>
    </div>
  </div>


</div>

</div>



      <div id="page3" class="mainHolder2">
      </div>
<div class='hiddenPhoneName'>
  <input  type='text' id='FonIme' name='Imefona' form="narociloForm" value="" >
</div>


    <script type="text/javascript">
    //     $('#narociloForm').click(function() {
    //       var formPart1 = "<div class='kek'> <label class='formLabel' for='address'>Ulica in hišna številka</label>  <input class='formInput' type='text' id='address' name='address'><br class='kek'> </div>  <div class='kek'>  <label class='formLabel' for='city'>Kraj</label><br class='kek'>  <input class='formInput' type='text' id='city' name='city' placeholder='Ljubljana'><br class='kek'>  </div> <br> <div class='kek'> <label class='formLabel' for='zip'>Poštna številka</label><br> <input class='formInput' type='number' id='zip' name='zip'placeholder='1000'></div>";
    //    if($('#dostavaOsebno').is(':checked')) {
    //      // Osebna dostava
    //         $(".kek" ).remove();
    //   }
    //    else {
    //      //Dostava po pošti
    //      $(".kek" ).remove();
    //      $(formPart1).insertAfter('#lastClass');
    //
    //     }
    //
    // });
  function izberiNapravo() {



  }

    const $form1 = $('#narociloForm')

    $form1.on('submit', submitHandler)

    function submitHandler (e) {
      e.preventDefault()

      $.ajax({
        url: '/',
        type:'POST',
        data: $form1.serialize()
      }).done(response => {
        console.log(response)
      })

         $( ".modal-content" ).remove();
         $( "<h1>Hvala za naročilo =)</h1>" ).appendTo( ".modal-content" );
    }


// --------- Ko izbereš različno dostavo so required različne stvari
      $(".kek").css( "display", "none" );
        $('#narociloForm').click(function() {

       if($('#dostavaOsebno').is(':checked')) {
         // Osebna dostava
          $(".kek").css( "display", "none" );
          $("#address").prop('required',false);
          $("#city").prop('required',false);
          $("#zip").prop('required',false);
      }
       else {
         //Dostava po pošti
          $(".kek").css( "display", "inline-block" );
          $("#address").prop('required',true);
          $("#city").prop('required',true);
          $("#zip").prop('required',true);
        }

    });



    function tester2 () {
     console.log("TESTSTTSST");
     modal.style.display = "block";
    };

    // Get the button that opens the modal
    var btn = document.getElementById("narociPopravilo");
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close2")[0];
      // $("#narociPopravilo").click(function() {
      //
      //   console.log("TESTETST");
      //   modal.style.display = "block";
      //
      // });

  // When the user clicks on the button, open the modal


  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  span2.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

      var test = <%-JSON.stringify(phones)%>;
      var tablice = <%-JSON.stringify(tablets)%>;
      console.log(test);
     console.log(test[0].phoneName);

     var vsebina = "";
    var vsebinaT = ""
     for(var i=0;i<test.length;i++) {
       vsebina += "<button  id='dropdown-cnt' class='phoneOption' type='button' name='"+i+"' onclick='getVsebina(this)'>"+test[i].phoneName+"</button>";
    };
    for(var i=0;i<tablice.length;i++) {
     vsebinaT += "<button  id='dropdown-cnt' class='phoneOption' type='button' name='"+i+"' onclick='getVsebina2(this)'>"+tablice[i].tabletName+"</button>";
   };

    $(".dropdown-content").append(vsebina);
    $(".dropdown-content2").append(vsebinaT);

    function getVsebina (x) {

      $(".dropdown-content").hide();


       $( ".phoneData" ).empty();
       $( ".grid-item" ).empty();
       $( ".phoneData2" ).empty();
       $( ".grid-item2" ).empty();


      console.log(x.name);
        var infoo = "";
        var infoo2 = "";

        for (var i=0;i<test[x.name].fixTypes.length;i++){
          if(i==0) {
            // $("#narociloFonIme").val();
            document.getElementById("FonIme").value = test[x.name].phoneName;
            infoo += "<h1>"+test[x.name].phoneName+" </h1>";
            infoo2 += "<h1>"+test[x.name].phoneName+" </h1><br><h3>Izberi potrebna popravila:</h3>";
          };
        infoo += "<p>"+test[x.name].fixTypes[i]+" : "+test[x.name].phonePrice[i]+"€</p><br>";
        infoo2 += "<input type='checkbox' value='"+test[x.name].fixTypes[i]+"' id='"+test[x.name].fixTypes[i]+"' name='popravilo' form='narociloForm'>";
        infoo2 += "<label for='popravilo1'>"+test[x.name].fixTypes[i]+"</label><br>";
      }
      infoo += "<button id='narociPopravilo' class='btn-two' type='button' onclick='tester2()'>Naroči popravilo</button>";
      //"background-image", "url('"+test[x.name].phonePic+"')"
      $(".grid-item").append("<img id='phonePicID' src='"+test[x.name].phonePic+"' >");
      $(".grid-item2").append("<img id='phonePicID' src='"+test[x.name].phonePic+"' >");

      $(".phoneData").append(infoo);
      $(".phoneData2").append(infoo2);

    };
    function getVsebina2 (x) {
      $(".dropdown-content2").hide();
       $( ".phoneData" ).empty();
       $( ".grid-item" ).empty();
       $( ".phoneData2" ).empty();
       $( ".grid-item2" ).empty();


      console.log(x.name);
        var infoo = "";
        var infoo2 = "";

        for (var i=0;i<tablice[x.name].fixTypes.length;i++){
          if(i==0) {
            // $("#narociloFonIme").val();
            document.getElementById("FonIme").value = tablice[x.name].tabletName;
              infoo += "<h1>"+tablice[x.name].tabletName+" </h1>";
              infoo2 += "<h1>"+tablice[x.name].tabletName+" </h1><br><h3>Izberi potrebna popravila:</h3>";
            };
          infoo += "<p>"+tablice[x.name].fixTypes[i]+" : "+tablice[x.name].phonePrice[i]+"€</p><br>";
          infoo2 += "<input type='checkbox' value='"+tablice[x.name].fixTypes[i]+"' id='"+tablice[x.name].fixTypes[i]+"' name='popravilo' form='narociloForm'>";
          infoo2 += "<label for='popravilo1'>"+tablice[x.name].fixTypes[i]+"</label><br>";
        }
        infoo += "<button id='narociPopravilo' class='btn-two' type='button' onclick='tester2()'>Naroči popravilo</button>";
        //"background-image", "url('"+tablice[x.name].phonePic+"')"
        $(".grid-item").append("<img id='phonePicID' src='"+tablice[x.name].tabletPic+"' >");
        $(".grid-item2").append("<img id='phonePicID' src='"+tablice[x.name].tabletPic+"' >");

        $(".phoneData").append(infoo);
        $(".phoneData2").append(infoo2);

    };


// za ponovno odpiranje menija ki se skrije ob kliku
    $( ".dropdown" ).mouseover(function() {
      $(".dropdown-content").show();
    });

    $( ".dropdown2" ).mouseover(function() {
      $(".dropdown-content2").show();
    });


    // <input type="checkbox" id="popravilo2" name="popravilo2" form="narociloForm">
    // <label for="popravilo2">Menjava Baterije</label><br>
    // Collecting the sections
    var $sections = $(".section");
    var page=1;
    var pagg;
    var enable= 1;
    // Define wheel event handler

    document.addEventListener(
      "wheel",
      function(event) {
        // Get the mouse wheel spin direction
        if (enable==1){
        var direction = event.deltaY;

        if (direction > 0) {
          if (page>=3){

          } else {
            page=page+1;
          }

        } else {
          if (page<=1){

          } else {
            page=page-1;
          }
          // Go to previous
        }
        }
pagg = "#page"
pagg += page;
      $('html, body').animate({
          scrollTop: $(pagg).offset().top
      },10);
        enable=0;
        setTimeout(function() {enable=1;}, 150);

      console.log(page);
      },
      { passive: false }
    );

   </script>



</body>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f9a850d1080465bc64e52d4" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</html>



<%- include("partials/footer") -%>
