<%- include("partials/header") -%>

<form class="" action="/register" method="post">
  <h3>Register form:</h3>
  <p>email:</p>
  <input placeholder="example@gmail.com" type="text" name="username" value=""> <br>
  <p>password:</p>
  <input placeholder="iLikeSnakes123" type="password" name="password" value=""> <br>
    <input type="submit" value="REGISTER">
</form>
<p>Already have an account ? login in here-></p><a href="/" role="button">login</a>



<%- include("partials/footer") -%>
